<ion-view>
    <ion-nav-title>Fale conosco</ion-nav-title>
        
    <ion-content padding="true" class="has-header">

        <div class="logoImg">
            <img src="img/Logo-Rural-Legal_vertical.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
        </div>

        <div class="textoContato">

            <span>Fale conosco através do e-mail:</span>
            <div class="spacer" style="height: 20px;"></div>
            <strong><a on-touch="shareEmail()">rural.legal@gmail.com</a></strong>

        </div>

    </ion-content>
</ion-view>