<ion-view>
    <ion-nav-title>Vídeos e tutoriais</ion-nav-title>
        
    <ion-content padding="true" class="has-header">

        <div class="logoImg">
            <img src="img/Logo-Rural-Legal_vertical.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
        </div>

        <div class="textoContato">

            <span>Acesse nosso canal do YouTube através do link:</span>
            <div class="spacer" style="height: 30px;"></div>

            <div style="text-align:center" on-tap="abreLink()">
                <i class="icon ion-social-youtube" style="color:red;font-size:28px"></i> 
                <a>YouTube</a>
            </div>

            <div class="spacer" style="height: 30px;"></div>
            <span style="font-size:16px">Nele você tem acesso a vídeos que descrevem o projeto que originou o Rural Legal, além de vídeos tutorias para auxílio no uso do aplicativo.</span>

        </div>

    </ion-content>
</ion-view>